<!--home.html corresponds to the app home page-->
{% extends "base.html" %}

{% block content %}
    <h1>About SpotiFynd features.</h1>
    <p class="lead">Discover: Generates song suggestions based on your saved songs and recent listening history.</p>
    <p class="lead">Library: is currently not implemented.</p>
    <p class="lead">Suggest from Playlist: Genereates song suggestions based on a selected playlist.</p>
    <p class="lead">Each of these features allows users to output their generated tracks to a Spotify playlist with the click of a button.</p>
    <!-- Rest of your page content -->
{% endblock %}